.navbar {
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 1000;
}

/* Custom CSS to move the list items to the right side */
.navbar-nav.ml-auto .list {
    margin-left: 20px; /* Adjust the margin as needed for spacing */
}

.navbar-page{
    color: green;
    padding-top: 8px;
    padding-right: 10px;
}

#cart {
    padding: 20px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-item img {
    max-width: 100px;
    margin-right: 10px;
}

#total {
    text-align: center;
}

.product-section {
    padding: 5% 5% 5% 5%;
}


/* buying section */


#buyFormContainer {
    /* display: none; */
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#buyFormContainer h3 {
    color: limegreen;
}

#buyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buyForm label {
    margin-bottom: 10px;
}

#buyForm input,
#buyForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

#buyForm button {
    width: 100%;
    background-color: limegreen;
    color: black;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#buyForm button:hover {
    background-color: rgb(10, 164, 10);
}
